.sectionLista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0; 
    .produtoSalvo{
        display:none;
        background-color: #26BB35;
        padding: 7px;
        border-radius: 2px;
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        margin: 10px 0;
        width: 30vw;
    }
    .buttonSection {
        margin: 1em 0;
        width: 100%;
        display: flex;
        justify-content: end;

        .buttonLink {
            margin: 0 5em 0 0;
            background-color: #F24A72;

            .link {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}