.sectionLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    .buttonSection{
        margin: 1em 0;
        width: 100%;
        display: flex;
        justify-content: end;
        .buttonLink{
            margin: 0 5em 0 0;
            background-color: #F24A72;
            .link{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}