.nav_sw{
    display: flex;
    background-color: #F24A72;
    .lista_links_sw{
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100%;
        li{
            color: #FFF;
            font-weight: 500;
            font-size: 15px;
            margin: 0 4em;
            &::after{
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #FFF;
                transition: width 0.3s;
            }
            &:hover::after{
                width: 100%;
                cursor: pointer;
            }

            .ancor{
                text-decoration: none;
                color: #FFF;
            }
        }
    }
}