.produtos_section{
    display: flex;
    margin: 4em 2em;
    align-items: flex-start;
    flex-direction: column;
    .produtos_section_title{
        padding: 0 2em;
        font-size: 35px;
    }
}